/*CUSTOMIZATION*/

$border-radius: 0px;
$border-radius-lg: 0px;
$border-radius-sm: 0px;
$card-border-radius: $border-radius;
$list-group-border-radius: 0px;
$color-1:#10c45c;
$color-2: #fc5f42;
$color-3: #24ccc0;
$color-4: #45aef4;
$color-5: #f8c331;
$color-6: #ad33c6;
$border-color-1:#0eb053;
$border-color-2: #fd2a03;
$border-color-3: #079d92;
$border-color-4: #008be7;
$border-color-5: #e1a500;
$border-color-6: #9000ae;