@import "custom";
body {
    box-sizing: border-box;
    overflow-x: hidden;
}

h2 {
    font-family: 'Roboto Slab', serif;
    font-style: normal;
    line-height: 1.2;
    margin: 0px 0px 0px 0px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    font-size: 50px;
    margin-bottom: 13px;
}

h3 {
    color: #2f2f2f;
    font-size: 30px;
    font-family: 'Roboto Slab', serif;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 400;
    line-height: 1.2;
    margin: 0px 0px 0px 0px;
    padding-bottom: 15px;
    @media (max-width: 576px) {
        font-size: x-large;
    }
}

.heading_2 {
    position: relative;
    padding-top: 15px;
    h3::before {
        background-color: #666666;
        bottom: 0;
        content: "";
        height: 2px;
        left: 0;
        position: absolute;
        width: 25px;
    }
    h3::after {
        background-color: #bbbbbb;
        bottom: 1px;
        content: "";
        height: 1px;
        position: absolute;
        left: 34px;
        width: 50px;
    }
}

h5 {
    font-family: "Roboto Slab";
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.2;
}

h6 {
    font-family: "Roboto Slab", sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: normal;
    margin-bottom: 18px;
}

p {
    font-family: "Source Sans Pro";
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
    color: #777777;
}

a {
    font-family: "Open Sans", sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
}


/*PADDINGS*/


/* TOP BAR */

.top_bar {
    background: #45b2cd;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 14px;
    color: #ffffff;
    padding: 11px 0px;
    @media (max-width: 992px) {
        display: none;
    }
}


/* NAVBAR*/

.kode_navigation {
    .fa-bars {
        background-color: #45b2cd;
        color: #fff;
        font-size: 26px;
        height: 50px;
        left: 20px;
        line-height: 48px;
        position: absolute;
        text-align: center;
        top: 25px;
        width: 50px;
        z-index: 10;
        @media (min-width: 992px) {
            display: none;
        }
        @media (max-width: 576px) {
            margin-left: 20px;
        }
    }
    .side_nav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 999999;
        top: 0;
        left: 0;
        background-color: #1c1c1c;
        overflow-x: hidden;
        overflow-y: auto;
        padding-top: 30px;
        transition: 0.2s;
        .closebtn {
            text-decoration: none;
            position: absolute;
            top: 0;
            right: 20px;
            font-size: 14px;
            margin-left: 50px;
            color: #fff;
            &:hover {
                background-color: transparent;
            }
        }
        .side_menu {
            text-decoration: none;
            display: block;
            color: #fff;
            text-transform: none;
            padding: 5px;
            transition: 0.2s;
            &:hover {
                color: #fff;
                background-color: #45b2cd;
            }
        }
    }
}

.navbar {
    display: flex;
    height: 112px;
    width: 100%;
    background: none !important;
    @media(min-width: 992px) {
        background: white !important;
    }
    .container {
        position: relative;
        width: 100%;
        .navbar-brand {
            display: flex;
            @media (max-width: 992px) {
                justify-content: center;
            }
            img {
                width: 30%;
            }
        }
    }
    #navbarNav .nav-link {
        display: block;
        color: #666666;
        padding: 10px 18px;
        position: relative;
        font-weight: bold;
        height: 50px;
        &:hover {
            color: #fff;
            background-color: #45b2cd;
        }
    }
}


/*SHOWCASE*/

.main-wrap figure {
    position: relative;
    .img-fluid {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        @media (max-width: 576px) {
            width: 100%;
            overflow-x: hidden;
        }
    }
    .text-center {
        position: absolute;
        text-align: center;
        color: #fff;
        background: rgba(0, 0, 0, 0.5);
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        .container {
            left: 0;
            right: 0;
            margin-top: 110px;
            text-align: center;
            @media (max-width: 576px) {
                margin-top: 50px;
            }
        }
        .text-1 {
            font-family: "Source Sans Pro", sans-serif;
            font-size: 24px;
            font-weight: 400;
            border-bottom: 2px solid white;
            @media (max-width: 992px) {
                display: none;
            }
            @media (max-width: 768px) {
                display: none;
            }
            @media (max-width: 576px) {
                display: none;
            }
        }
        .text-2 {
            @media (max-width: 992px) {
                font-size: 40px;
            }
            @media (max-width: 768px) {
                font-size: 30px;
            }
            @media (max-width: 576px) {
                font-size: 20px;
            }
        }
        .text-3 {
            font-size: 20px;
            margin: 0 0 30px;
            color: white;
            @media (max-width: 992px) {
                display: none;
            }
            @media (max-width: 768px) {
                display: none;
            }
        }
        .btn-lg {
            color: #ffffff;
            padding: 11px 28px 10px;
            border: 1px solid #ffffff;
            border-radius: 0;
            font-size: 18px;
            font-weight: 700;
            &:hover {
                color: white;
                background-color: #45b2cd;
                border-color: #45b2cd;
                border-radius: 0px;
                text-decoration: none;
            }
            @media (max-width: 992px) {
                display: none;
            }
            @media (max-width: 768px) {
                display: none;
            }
        }
    }
}


/*SCHWERPUNKTE*/

.colors {
    .catg_des {
        padding: 31px 23px 31px;
        border-right: solid 2px;
        min-height: 180px;
        .fas {
            position: absolute;
            top: 50px;
            font-size: 46px;
        }
        .catg_des_text {
            position: relative;
            left: 60px;
            top: 5px;
        }
    }
    .color-1 {
        border-right-color: $border-color-1;
        &:hover {
            background-color: $color-1 !important;
            transition: 0.3s ease-in-out;
            * {
                color: white;
            }
        }
        i {
            color: $color-1;
        }
    }
    .color-2 {
        border-color: $border-color-2;
        &:hover {
            background-color: $color-2 !important;
            transition: 0.3s ease-in-out;
            * {
                color: white;
            }
        }
        i {
            color: $color-2;
        }
    }
    .color-3 {
        border-color: $border-color-3;
        &:hover {
            background-color: $color-3 !important;
            transition: 0.3s ease-in-out;
            * {
                color: white;
            }
        }
        i {
            color: $color-3;
        }
    }
    .color-4 {
        border-color: $border-color-4;
        &:hover {
            background-color: $color-4 !important;
            transition: 0.3s ease-in-out;
            * {
                color: white;
            }
        }
        i {
            color: $color-4;
        }
    }
    .color-5 {
        border-color: $border-color-5;
        &:hover {
            background-color: $color-5 !important;
            transition: 0.3s ease-in-out;
            * {
                color: white;
            }
        }
        i {
            color: $color-5;
        }
    }
    .color-6 {
        border-color: $border-color-6;
        &:hover {
            background-color: $color-6 !important;
            transition: 0.3s ease-in-out;
            * {
                color: white;
            }
        }
        i {
            color: $color-6;
        }
    }
}


/*INTRO*/

.img-hero {
    background: url(../img/intro.jpg);
    background-size: cover;
    background-position: center;
}

.intro {
    .heading_2 {
        margin-top: 0px;
        text-align: center;
        h3::before {
            content: "";
            left: 0;
            right: 49px;
            margin: auto;
        }
        h3::after {
            content: "";
            left: 49px;
            right: 0;
            margin: auto;
        }
    }
    .intro_des {
        padding-top: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        figure {
            position: relative;
        }
    }
    .row_wrap {
        padding: 0px 15px;
    }
    .intro_des_text {
        min-height: 410px;
        width: 100%;
        text-align: center;
        padding: 15px;
        .intro_icon {
            display: inline-block;
            width: 83px;
            height: 83px;
            border-radius: 100%;
            font-size: 32px;
            background-color: #fff;
            color: #666666;
            margin: 0 0 26px 0;
            border: solid 1px #ddd;
        }
    }
}

.intro_des:hover {
    .intro_icon {
        box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
        color: #45b2cd;
        transition: 0.3s ease-in-out;
    }
    .intro_title {
        color: #45b2cd;
        transition: 0.3s ease-in-out;
    }
    figure {
        position: relative;
    }
    .overlay {
        transform: scale(1);
        transition: 300ms ease-in-out;
    }
}


/*DAS PROGRAMM*/

.card {
    .card-body {
        border-color: #d6d3d3;
        height: 240px;
        padding: 30px;
    }
    .card-text {
        font-family: "Source sans pro", serif;
        font-size: 16px;
        font-weight: 300;
        color: #777777;
        line-height: 30px;
    }
}

.card-img {
    position: relative;
}

.overlay {
    position: absolute;
    bottom: 0;
    background-color: rgba(69, 178, 205, 0.7);
    overflow: hidden;
    transform: scale(0);
    transition: 0.3s ease-in-out;
    width: 100%;
    height: 100%;
}

.container_:hover .overlay {
    transform: scale(1);
}


/*ENTWICKLUNGSPHASE*/

.pr_wrap {
    background-color: #F3F3F3;
    h3::before {
        content: "";
        left: 0;
        right: 49px;
        margin: auto;
    }
    h3::after {
        content: "";
        left: 49px;
        right: 0;
        margin: auto;
    }
}

.card_p {
    .phases {
        font-weight: 300;
    }
    .phase_title {
        background-color: #F3F3F3;
        display: block;
        padding: 30px 0px;
        font-size: 24px;
        text-transform: capitalize;
    }
    h3::after {
        content: "";
        display: none;
    }
    h3::before {
        content: "";
        display: none;
    }
}

.card-body_p {
    height: 357px;
    border: 1px solid #e2e2e2;
    background-color: #fff;
    ul {
        float: left;
        width: 100%;
        padding: 24px 0 29px;
        text-align: center;
        border-width: 1px 0 1px 0;
        border-color: #e8e8e8;
        li {
            display: block;
            margin-bottom: 23px;
        }
    }
}

.card-body_p .card_link {
    text-decoration: none;
    color: #666666;
    font-size: 16px;
    text-transform: none;
    font-weight: 500;
    &:hover {
        color: #45b2cd;
        text-decoration: none;
    }
}


/*IMPRESSIONEN*/

.gallery {
    .img-container {
        position: relative;
        img {
            width: 100%;
        }
    }
    h3::before {
        content: "";
        left: 0;
        right: 49px;
        margin: auto;
    }
    h3::after {
        content: "";
        left: 49px;
        right: 0;
        margin: auto;
    }
}

.img-container:hover .overlay {
    transform: scale(1);
    transition: all 0.3s ease-in-out;
}

.text {
    color: #fff;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}


/*KONTAKT*/

.contact_wrap {
    background-color: #F3F3F3;
    padding-top: 5px;
    padding-bottom: 5px;
    h3::before {
        content: "";
        left: 0;
        right: 49px;
        margin: auto;
    }
    h3::after {
        content: "";
        left: 49px;
        right: 0;
        margin: auto;
    }
}

.kontakt_wrap {
    font-family: "source sans pro";
    font-size: 16px;
    color: #777777;
    strong {
        color: #333;
    }
}

.kontakt_wrap .kontakt_link {
    color: #777777;
    text-transform: none;
    font-weight: 500;
    &:hover {
        text-decoration: none;
        color: #333;
    }
}


/*FOOTER*/

.footer {
    background-color: black;
    .copyright {
        font-family: "Source Sans Pro";
        line-height: 1.2;
    }
    .footer_row {
        @media (max-width: 992px) {
            text-align: center;
        }
        @media (max-width: 768px) {
            text-align: center;
        }
        @media (max-width: 576px) {
            text-align: center;
        }
    }
}