/*CUSTOMIZATION*/

$theme-colors: ("color-1":#10c45c, "color-2": #fc5f42, "color-3": #24ccc0, "color-4": #45aef4, "color-5": #f8c331, "color-6": #ad33c6);
@import "./../../node_modules/bootstrap/scss/bootstrap";
$border-c-2: #fd2a03;
$border-c-3: #079d92;
$border-c-4: #008be7;
$border-c-5: #e1a500;
$border-c-6: #9000ae;
$enable-responsive-font-sizes: true;
$border-radius: 0px;
$border-radius-lg: 0px;
$border-radius-sm: 0px;
$card-border-radius: $border-radius;
$list-group-border-radius: 0px;
$h2-font-size: 50px;